
<div class="container" style="padding-top: 150px;">
  <div class="row">
    <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-md-4 offset-md-4">

        <form [formGroup]="loginForm" (ngSubmit)="getLogin()" style="padding-bottom: 40px; padding-top: 30px;">
          <div class="text-center">
              <img class="mb-4" src="../../../assets/ice-cream-logo.png" alt="" width="85">
          </div>
          
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email" required autofocus="">
          </div>

          <div class="form-group">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
          </div>

          <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid" type="submit">Sign in</button>
        </form>

    </div>
  </div>
</div>